<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
   <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Kazafix
                    </a>
                   </li>
                    <li><a href="/index">Accueil</a></li>   
                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                        Commandes <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/orders">Liste des commandes</a></li>
                                        
                                    </ul>
                                </li>
                
                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                        Clients <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/clients">Liste des clients</a></li>
                                        <li><a href="/addClient">Ajouter un client</a></li>
                                        <li><a href="/Findclient">Chercher un client</a></li>
  
                                    </ul>
                                </li>
                  <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                        Ouvriers <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/workers">Liste des ouvriers</a></li>
                                        <li><a href="/addWorker">Ajouter un ouvrier</a></li>
    
                                    </ul>
                                </li>
                 <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                        Métiers <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/jobs">Liste des métiers</a></li>
                                        <li><a href="/addjob">Ajouter un métier</a></li>
   
                                    </ul>
                                </li>            
            
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
                        <h1>Nouveau Client</h1>
                    </div>
        <form action="/addClient" method="post">
            <div>
                 <label for="name">Nom:</label>
                 <input type="text" name="Nom"/><br><br>
            </div>
            <div>
                 <label for="name">Prenom:</label>
            <input type="text" name="Prenom"/><br><br>
            </div>
            <div>
                <label for="name">Numero:</label>
                <input type="text" name="Numero"/><br><br>
            </div>
            <div>
                <label for="name">ContactVia:</label>
                <input type="text" name="ContactVia"/><br><br>
            </div>
            <div>
                <label for="name">Addresse:</label>
                <input type="text" name="Addresse"/><br><br>
            </div>
            <div>
                <label for="name">Commentaires:</label>
                <input type="text" name="Commentaires"/><br><br>
            </div>

            <div id="alert-div">
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="button">Ajouter </button>

        </form>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/addclient.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>