<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Kazafix
                    </a>
                </li>
                <li>
                    <a href="/orders">Commandes</a>
                </li>
                <li>
                    <a href="/clients">Clients</a>
                </li>
                <li>
                    <a href="/workers">Artisans</a>
                </li>
                <li>
                    <a href="/jobs">Métiers</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
                        <h1>Nouvelle commande</h1> 
                    </div>
                    <div class="col-lg-12">

                    <form action="/addNewOrder" method="post">
                    <div class="col-lg-6">

                    <label for="select" class="col-lg-6 control-label">Choisir type de service</label>

                    <div class="col-lg-6">
                    <select name="choix" multiple=""  id="choix" onChange="javascript:document.getElementById('texte').value = this.value;">

                                                <option>Alarmes</option>
                                                <option>Aluminium</option>
                                                <option>Bâtiment</option>
                                                <option>Camera</option>
                                                <option>Chaudière</option>
                                                <option>Chauffage</option>
                                                <option>Climatisation</option>
                                                <option>Couture</option>
                                                <option>Décoration</option>
                                                <option>Electricité</option>
                                                <option>Forgeron</option>
                                                <option>Informatique</option>
                                                <option>Jardinier</option>
                                                <option>Kiné</option>
                                                <option>Lustrage M</option>
                                                <option>Ménage</option>
                                                <option>Menuiserie Alu</option>
                                                <option>Menuiserie Bois</option>
                                                <option>Parabole</option>
                                                <option>Peinture</option>
                                                <option>Piscine</option>
                                                <option>Plastique</option>
                                                <option>Plexiglass</option>
                                                <option>Plomberie</option>
                                                <option>Pompe à Chaleur</option>
                                                <option>Réparation éléctroménager</option>
                                                <option>Rideaux</option>
                                                <option>Serrurier</option>
                                                <option>Stores</option>
                                                <option>Tout</option>
                                                <option>Ventilateur</option>
                                                <option>Verre</option>
                                                
                                            </select>
                                            </div>
                                            <input type="text" name="texte" value="" id="texte" style="visibility: hidden;"/>
                             <div class="col-lg-6">

                                        <button type="button" class="btn btn-primary">selectionner</button>
                                        </div>
                       </form> 
                </div>

<div class="col-lg-12">
                        <table id="tab" class="table table-hover table-striped table-bordered" style="visibility: hidden;"">
                            <thead>
                              <tr>
                                <th>Référence</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Téléphone</th>
                                <th>CIN</th>
                                <th>Adresse</th>
                                <th>Taux de recouvrement</th>
                                <th>Commentaires</th>
                              </tr>
                            </thead>
                            <tbody id="workerList">
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/createorder.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>